#produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
#contato{
    display:flex ;
}

#produtos div{
    margin: 10px;
}

#contato form{
  width: 500px;
  color: cadetblue;
}
.form-text{
    color:cadetblue;
}

nav{
    z-index: 100;
    background:linear-gradient(45deg,purple,violet);
    position:fixed;
    top:0;
}

#planos{
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}
#planos div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}
#carouselExampleCapitions{
    background: linear-gradient(45deg,pink,purple,red);
    border-radius: 16px;
}
#sobre{
    width: 100%;
    display: flex;
    justify-content: center;
}
#rodape-text{
    text-decoration: none;
    color: aliceblue;
    margin-left: 10px;
}
#rodape{
    height: 100px;
    margin-top: 100px;
    color:wheat;
    background: linear-gradient(45deg,pink,red,purple);
    display: flex;
    justify-content: center;
    align-items: center;
}
#text-produtos{
    margin-top: 100px;
    text-align: center;
}
.roboto{
    font-family: 'roboto', sans-serif;
}
.btn-susccess{
    background-color: antiquewhite;
}
.titulo-plano{
    font-style: italic;
    font-size: 34px;
}
.titulo-red{
    background-image: linear-gradient(45px right, pink 10%, purple 30%);
    -webkit-background-clip: text;
    color: transparent;
}
.titulo-plano-green{
    background-image: linear-gradient(45px right, pink 10%, purple 30%);
    -webkit-background-clip: text;
    color: transparent;
}
.titulo-plano-blue{
    background-image: linear-gradient(45px right, pink 10%, purple 30%);
    -webkit-background-clip: text;
    color: transparent;
}