#produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
#contato{
    display:flex ;
}

#produtos div{
    margin: 10px;
}

#contato form{
  width: 500px;
  color: cadetblue;
}
.form-text{
    color:cadetblue;
}

nav{
    z-index: 100;
    background:linear-gradient(45deg,purple,violet);
    position:fixed;
    top:0;
}

#planos{
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}
#planos div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}